@font-face {
  font-family: 'Pretendard-Thin';
  src: url('~/assets/fonts/Pretendard-Thin.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('~/assets/fonts/Pretendard-ExtraLight.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('~/assets/fonts/Pretendard-Light.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('~/assets/fonts/Pretendard-Medium.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('~/assets/fonts/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('~/assets/fonts/Pretendard-SemiBold.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('~/assets/fonts/Pretendard-Bold.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('~/assets/fonts/Pretendard-ExtraBold.woff') format('woff');
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url('~/assets/fonts/Pretendard-Black.woff') format('woff');
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Pretendard-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100%;
  line-height: 1.5;
}
